/* for blockquote */
/* blockquote {
  background: #f9f9f9;
  border-left: 10px solid #f8d49d;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #f8d49d;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
} */
/* for blockquote */

/* macOS风格代码块 */
pre {
}

pre:before {
  content: " ";
  position: relative;
  border-radius: 50%;
  background: #ff5f56;
  width: 12px;
  height: 12px;
  top: -9px;
  left: -9px;
  -webkit-box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
  box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
}

/* code block */
